<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
</head>
<body>
<header th:replace="layout/layout :: header"></header>

<main>

	<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
	  <ol class="breadcrumb">
	    <li class="breadcrumb-item">Human resource</li>
	    <li class="breadcrumb-item">Add language</li>
	    <li class="breadcrumb-item active" aria-current="page"> 
	    	<span th:text="${employeeLanguage.id}"></span> 
	    </li>
	  </ol>
	</nav>
	
	<div class="card" style="width: 25rem; margin-left:40px;">
	  <div class="card-header">
	   	Add language
	  </div>
	  <div class="card-body">
	    
	    <form th:action="@{/human-resource/save-language}" th:object="${employeeLanguage}" method="post">
		  <div class="mb-3 row">
		    <label for="id" class="col-sm-4 col-form-label">Employee :</label>
		    <div class="col-sm-8">
		      <input type="text" readonly class="form-control-plaintext" th:field="*{id}">
		    </div>
		  </div>
		  <div class="mb-3 row">
		    <label for="language" class="col-sm-4 col-form-label">Language :</label>
		    <div class="col-sm-8">
		      	<select th:field="*{language}" class="form-select" aria-label="Default select example">
				  <option th:each="language : ${languages}"
				  		th:value="${language.id}"
				  		th:text="${language.name}" >One</option>
				</select>
		    </div>
		  </div>
		  <button type="submit" class="btn btn-primary">Submit</button>
		</form>
	    
	  </div>
	</div>
	
	

</main>
<footer th:replace="layout/layout :: footer"></footer>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
</body>
</html>